<div class="card">
  <div class="card-header">
    <h1 style="text-align:center;"><%= @board.name %></h1>
  </div>
</div>

<div class="card-body card-padding">
<center>
  <h3>By <%= @board.user.name %></h3>
</center>
  
  <h4><% @board.tags.each do |tag| %>
  <small style="font-size: 1em;">Tag: <%= tag.name  %></small><small style="font-size: 1em; float: right;">Views: <%= @board.views %></small>
  <% end %>
  </h4>

  
    <% i = 0 %>
    <% @web_links.each do |link| %>
      <div class="col-sm-4">                     
        <div class="card">
          <div class="kind_<%=link.kind%>" class="card-header ch-alt">
            <h2><%=link.name%><small><%=link.description%></small></h2>
          </div >
          <div style="height:240px;" id="web_link_<%=i%>" class="format_iframe">
        <a class="embedly-card" href="<%= link.url %>"></a>
        </div>
      </div>
    </div>
    <% i += 1 %>
    <% end %>


    <% @text.each do |link| %>
      <div class="col-sm-4">                     
        <div class="card">
          <div class="card-header bgm-green">
            <h2><%=link.name%><small><%=link.description%></small></h2>
          </div>
          <div style="height:250px;">
        <%= link.url %>
        </div>
      </div>
    </div>
    <% i += 1 %>
    <% end %>

    <div id="current_user" style="visibility:hidden;">
     <% if @current_user %>
     <%= @current_user.name %>
     <% end %>
   </div>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

  </div>