<div class="card">
    <div class="card-header">
        <h1 style="text-align: center;" id="clickme">Create a New Board</h>
        <%= form_for @board do |f| %>
      <div style="text-align: center;">
       <%= f.label :name, style:"
    font-size: 1.5em;" %>
       <%= f.text_field :name, required: true %>
        <%= f.hidden_field :user_id, value: @user.id %>
      </div>
    </div> 
</div>

<center>
<%= f.button(class: "btn bgm-cyan waves-effect waves-button waves-float")%>
<br>
<br>

  <!-- <h3> Give Your Board a Tag: </h3> -->
    <%= f.fields_for(:tags, Tag.new) do |tag| %>
    <%= tag.label :name, "Give Your Board a Tag:", style:"
    font-size: 1.5em;" %>
    <%= tag.text_field :name %><br>
    <br>
    <% end %> 
    </center>
<div class="card-body card-padding">
    <div class="col-sm-4">
        <div class="card">
            <div id="header_0" class="card-header ch-alt">
                <h2 id="desc_text_0">Card 1<small>Description</small></h2> <ul class="actions ">  
                    <a>
                        <i class="md md-create"></i> 
                    </a>       
                </ul>
            </div>
            <!-- Add A Note Button -->
            <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">  
                    <a id="text-button_0">
                        <i class="md md-format-color-text"></i> 
                    </a>       
                </ul>
            </div>
            <div style="height:250px;text-align:center;">
             <button id="button_0" style="margin: -20px -50px;top:50%;left:50%;width:100px;height:100px;visibility:visible"class="btn btn-float waves-effect waves-effect waves-button waves-float"><i class="md md-add"></i></button>
                <div class="input-sm fg-line" id="show_the_field_0" style="visibility:hidden;margin: -20px -50px;top:50%;left:50%;">
                    <%= f.fields_for(:links, Link.new) do |link| %>
                    <%= link.text_field :url, :placeholder => "Paste Your Link Here" %><br>
                    <%= link.hidden_field :kind, :value => 1 %>
                    <% end %>
                </div>
            </div>
        </div>
      </div>



    <div class="col-sm-4">
        <div class="card">
            <div id="header_1" class="card-header ch-alt">
                <h2 id="desc_text_1">Card 2<small>Description</small></h2>
                <ul class="actions ">  
                    <a>
                        <i class="md md-create"></i> 
                    </a>       
                </ul>
            </div>
            <!-- Add A Note Button -->
           <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">  
                    <a id="text-button_1">
                        <i class="md md-format-color-text"></i> 
                    </a>       
                </ul>
            </div>
            <div style="height:250px;text-align:center;">
             <button id="button_1" style="margin: -20px -50px;top:50%;left:50%;width:100px;height:100px;visibility:visible"class="btn btn-float waves-effect waves-effect waves-button waves-float"><i class="md md-add"></i></button>
                <div class="input-sm fg-line" id="show_the_field_1" style="visibility:hidden;margin: -20px -50px;top:50%;left:50%;">
                    <%= f.fields_for(:links, Link.new) do |link| %>
                    <%= link.text_field :url, :placeholder => "Paste Your Link Here" %><br>
                    <%= link.hidden_field :kind, :value => 1 %>
                    <% end %>
                </div>
            </div>
         </div>
      </div>

    <div class="col-sm-4">
        <div class="card">
            <div id="header_2" class="card-header ch-alt">
                <h2 id="desc_text_2">Card 1<small>Description</small></h2>
                <ul class="actions ">  
                    <a>
                        <i class="md md-create"></i> 
                    </a>       
                </ul>
            </div>
            <!-- Add A Note Button -->
            <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">  
                    <a id="text-button_2">
                        <i class="md md-format-color-text"></i> 
                    </a>       
                </ul>
            </div>
            <div style="height:250px;text-align:center;">
             <button id="button_2" style="margin: -20px -50px;top:50%;left:50%;width:100px;height:100px;visibility:visible"class="btn btn-float waves-effect waves-effect waves-button waves-float"><i class="md md-add"></i></button>
                <div class="input-sm fg-line" id="show_the_field_2" style="visibility:hidden;margin: -20px -50px;top:50%;left:50%;">
                    <%= f.fields_for(:links, Link.new) do |link| %>
                    <%= link.text_field :url, :placeholder => "Paste Your Link Here" %><br>
                    <%= link.hidden_field :kind, :value => 1 %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div id="header_3" class="card-header ch-alt">
                <h2 id="desc_text_3">Card 1<small>Description</small></h2>
                <ul class="actions ">  
                    <a>
                        <i class="md md-create"></i> 
                    </a>       
                </ul>
            </div>
            <!-- Add A Note Button -->
            <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">  
                    <a id="text-button_3">
                        <i class="md md-format-color-text"></i> 
                    </a>       
                </ul>
            </div>
            <div style="height:250px;text-align:center;">
              <button id="button_3" style="margin: -20px -50px;top:50%;left:50%;width:100px;height:100px;visibility:visible"class="btn btn-float waves-effect waves-effect waves-button waves-float"><i class="md md-add"></i></button>
                <div class="input-sm fg-line" id="show_the_field_3" style="visibility:hidden;margin: -20px -50px;top:50%;left:50%;">
                    <%= f.fields_for(:links, Link.new) do |link| %>
                    <%= link.text_field :url, :placeholder => "Paste Your Link Here" %><br>
                    <%= link.hidden_field :kind, :value => 1 %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div id="header_4" class="card-header ch-alt">
                <h2 id="desc_text_4">Card 1<small>Description</small></h2>
                <ul class="actions ">  
                    <a>
                        <i class="md md-create"></i> 
                    </a>       
                </ul>
            </div>
            <!-- Add A Note Button -->
            <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">  
                    <a id="text-button_4">
                        <i class="md md-format-color-text"></i> 
                    </a>       
                </ul>
            </div>
            <div style="height:250px;text-align:center;">
              <button id="button_4" style="margin: -20px -50px;top:50%;left:50%;width:100px;height:100px;visibility:visible"class="btn btn-float waves-effect waves-effect waves-button waves-float"><i class="md md-add"></i></button>
                <div class="input-sm fg-line" id="show_the_field_4" style="visibility:hidden;margin: -20px -50px;top:50%;left:50%;">
                    <%= f.fields_for(:links, Link.new) do |link| %>
                    <%= link.text_field :url, :placeholder => "Paste Your Link Here" %><br>
                    <%= link.hidden_field :kind, :value => 1 %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <div id="header_5" class="card-header ch-alt">
                <h2 id="desc_text_5">Card 1<small>Description</small></h2>
                <ul class="actions ">  
                    <a>
                        <i class="md md-create"></i> 
                    </a>       
                </ul>
            </div>
            <!-- Add A Note Button -->
           <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">  
                    <a id="text-button_5">
                        <i class="md md-format-color-text"></i> 
                    </a>       
                </ul>
            </div>
            <div style="height:250px;text-align:center;">
              <button id="button_5" style="margin: -20px -50px;top:50%;left:50%;width:100px;height:100px;visibility:visible"class="btn btn-float waves-effect waves-effect waves-button waves-float"><i class="md md-add"></i></button>
                <div class="input-sm fg-line" id="show_the_field_5" style="visibility:hidden;margin: -20px -50px;top:50%;left:50%;">
                    <%= f.fields_for(:links, Link.new) do |link| %>
                    <%= link.text_field :url, :placeholder => "Paste Your Link Here" %><br>
                    <%= link.hidden_field :kind, :value => 1 %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    

     
    
    
    <% end %>
    <br>
    <br>
    <br>



</div>