<div class="card">
    <div class="card-header">
        <h1 style="text-align: center;" id="clickme">Create a New Placemat</h>
        <%= form_for @board do |f| %>
      <div style="text-align: center;">
       <%= f.label :name, style:"
    font-size: 1.5em;" %>
       <%= f.text_field :name, required: true %>
        <%= f.hidden_field :user_id, value: @user.id %>
      </div>
    </div> 
</div>

<center>
<%= f.button(class: "btn bgm-cyan waves-effect waves-button waves-float")%>
<br>
<br>

  <!-- <h3> Give Your Board a Tag: </h3> -->
    <%= f.fields_for(:tags, Tag.new) do |tag| %>
    <%= tag.label :name, "Give Your Board a Tag:", style:"
    font-size: 1.5em;" %>
    <%= tag.text_field :name %><br>
    <br>
    <% end %> 
    </center>

<div class="card-body card-padding">

<% x = 0 %>
<% 6.times do %>
    <div class="col-sm-4">
        <div class="card">
            <div id="header_<%=x%>" class="card-header ch-alt">
                    <%= f.fields_for(:links, Link.new) do |link| %>
                <h2 id="desc_text_<%=x%>"><%= link.text_field :name, style: 'width:98%;background-color: transparent;opacity:1;color:black;', :placeholder => "Add a Title", :maxlength => 25%><small><%= link.text_field :description, style: 'width:98%;background-color: transparent;opacity:1;color:black;', :placeholder => "Add a Short Description", :maxlength => 35 %></small></h2><ul class="actions ">  
                    <a>
                        <h4 id="counter_<%=x%>">35</h4>
                    </a>       
                </ul>
            </div>
            <!-- Add A Note Button -->
            <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">  
                    <a id="text-button_0">
                        <i class="md md-format-color-text"></i> 
                    </a>       
                </ul>
            </div>
            <div style="height:246px;text-align:center;">
             <button id="button_<%=x%>" style="margin: -20px -50px;top:50%;left:50%;width:100px;height:100px;visibility:visible"class="btn btn-float waves-effect waves-effect waves-button waves-float"><i class="md md-add"></i></button>
                <div class="input-sm fg-line" id="show_the_field_<%=x%>" style="visibility:hidden;margin: -20px -50px;top:50%;left:50%;">
                    <%= link.text_field :url, :placeholder => "Paste Your Link Here" %><br>
                    <%= link.hidden_field :kind, :value => 1 %>
                    <% end %>
                </div>
            </div>
        </div>
      </div>
<%x += 1%>
<%end %>



    

     
    
    
    <% end %>
    <br>
    <br>
    <br>



</div>