<h1><%= @board.name %></h1>
<h4><% @board.tags.each do |tag| %>
<li>Tags: <%= tag.name  %></li>
<% end %>
</h4>

<h5><%= @board.user.name %></h5>

<h4> YouTube</h4>

<div>
<% @youtube_links.each do |link| %>
<iframe width="560" height="315" src="<%= link.url.gsub(/watch\?v=/,"embed/") %>" frameborder="0" allowfullscreen></iframe>

<% end %>
</div>



<h4>Twitter</h4>
<div>
<% @twitter_links.each do |link| %>
<iframe border=0 frameborder=0 height=250 width=550 
 src="http://twitframe.com/show?url=<%= link.url %>"></iframe>
<% end %>
</div>
<h4>Other Links</h4>
<div>
<% @web_links.each do |link| %>
<iframe width="560" height="315" src="<%= link.url %>" frameborder="0" allowfullscreen></iframe>

<% end %>
</div>

