<div class="card">
  <div class="card-header">
    <% if @board.user == current_user %>
    <%= link_to '', @board, data: {confirm: 'Are you sure?'}, :action => 'destroy', :method => :delete, :class => 'md md-clear',style: "float:right;color:grey;font-size:1.5em;"  %>
  <% end %>
    <h1 style="text-align:center;"><%= @board.name %></h1>
    <h4 style="text-align:center;"><small style="font-size: 1em;">By <%= @board.user.name %></small></h4>
  </div>
</div>

<div class="card-body card-padding">
<center>
  
</center>

<div style="text-align:center;">

      <h4 style="text-align:center;text-transform:uppercase;"><small style="font-size: 1.1em;">Views: <%= @board.views %></small></h4>
  <h4><% @board.tags.each do |tag| %>
  <small style="font-size: 1em;">Tag: <%= tag.name  %></small>
  <% end %>
  </h4>
</div>

  
    <% i = 0 %>
    <% @web_links.each do |link| %>
      <div class="col-sm-4">                     
        <div class="card">
          <div class="kind_<%=link.kind%>" class="card-header ch-alt">
              <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">
                  <div id="<%=link.id%>">  
                    <button id="save_button_<%=i%>" class="btn btn-default btn-icon waves-effect waves-button waves-float">
                        <i style="font-size:20px;"class="md-my-library-add"></i> 
                    </button>
                  </div>
                </ul>
            </div>
            <h2><%=link.name%><small><%=link.description%></small></h2>
          </div >
          <div style="height:240px;" class="format_iframe" id="web_link_<%=i%>">
        <a class="embedly-card" href="<%= link.url %>"></a>
        </div>
      </div>
    </div>
    <% i += 1 %>
    <% end %>


    <% @text.each do |link| %>
      <div class="col-sm-4">                     
        <div class="card">
          <div class="card-header bgm-green">
              <div style="margin-left: 90%; margin-top: 2%;">
                <ul class="actions " float="right">
                  <div id="<%=link.id%>">  
                    <button id="save_button_<%=i%>" class="btn btn-default btn-icon waves-effect waves-button waves-float">
                        <i style="font-size:20px;"class="md-my-library-add"></i> 
                    </button>
                  </div>
                </ul>
            </div>
            <h2><%=link.name%><small><%=link.description%></small></h2>
          </div>
          <div style="height:250px;">
        <%= link.url %>
        </div>
      </div>
    </div>
    <% i += 1 %>
    <% end %>

    <div id="current_user" style="visibility:hidden;">
     <% if @current_user %>
     <%= @current_user.name %>
     <% end %>
   </div>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

  </div>


