<div class="card">
  <div class="card-header">
    <h1 style="text-align:center;"><%= @board.name %></h1>
  </div>
</div>

<div class="card-body card-padding">
<center>
  <h3>By <%= @board.user.name %></h3>
</center>
  
  <h4><% @board.tags.each do |tag| %>
  <small style="font-size: 1em;">Tag: <%= tag.name  %></small><small style="font-size: 1em; float: right;">Views: <%= @board.views %></small>
  <% end %>
  </h4>

    <% i = 0 %>
    <% @soundcloud_links.each do |link| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header ch-alt">
            <h2>Margin <small>We can put text here</small></h2>                     
          </div>
          <iframe id="soundcloud_<%=i%>" border=0 frameborder=0 height=250 width=450 src="<%= link.url %>"></iframe>
        </div>
      </div>
    <% i += 1 %>
    <% end %>


    <% @twitter_links.each do |link| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header ch-alt">
            <h2>Margin <small>We can put text here</small></h2>                     
          </div>
          <div style="text-align:center;">
            <iframe border=0 frameborder=0 scrolling="auto" marginheight="0" width="80%" height="250em"
               src="http://twitframe.com/show?url=<%= link.url %>"></iframe>
          </div>
        </div>
      </div>
    <% end %>



    <% @youtube_links.each do |link| %>
      <div class="col-sm-4">                     
        <div class="card">
          <div class="card-header ch-alt">
            <h2>Margin <small>We can put text here</small></h2>
          </div>
          <iframe width="100%" height="250" src="<%= link.url.gsub(/watch\?v=/,"embed/") %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    <% end %>
  



    <% i = 0 %>
    <% @web_links.each do |link| %>
      <div class="col-sm-4">                     
        <div class="card">
          <div class="card-header ch-alt">
            <h2>Margin <small>We can put text here</small></h2>
          </div>
          <div  id="web_link_<%=i%>">
        <a href="<%= link.url %>"></a>
        </div>
      </div>
    </div>
    <% i += 1 %>
    <% end %>


    <% @text.each do |link| %>
      <div class="col-sm-4">                     
        <div class="card">
          <div class="card-header ch-alt">
            <h2>Margin <small>We can put text here</small></h2>
          </div>
        <textarea style="resize: none; width:100%; height:250px; font-size: 1.5em;"><%= link.url %></textarea>
      </div>
    </div>
    <% end %>

    <!-- this needs to be fixed for when users are logged out -->

    <div id="current_user" style="visibility:hidden;">
      <%= @current_user.name %>
    </div>

  </div>


