<br>
<br>
<br>
<br>
<br>
<br>
<header id="header">
  <ul class="header-inner top-menu" style="margin-top: 1%;">
    <li class="logo hidden-xs" style="margin-left: 2%;">
    <%= link_to "Placemat", root_path, style: "font-weight: bold;" %>
    </li>

    <li class="logo hidden-xs ">
    <%= link_to "Create a New Board", new_board_path %>
    </li>
 
    <li  id="top-search">
<a style=" font-size: 1.7em; color: white; margin-top: 6.5px; margin-left: 20%;" class="md-search"></a>
    <%=form_tag('/search', method: "get") do%>
    <i style="font-size: 1em; color: white;"><%= button_tag "", class: "top-menu", style: "display: none; text-align: center;" %></i>
    </li>

    <li class="logo hidden-xs pull-right">
    <a href="">About</a>
    </li>
    
   <% if user_signed_in?  %>
      <li class="logo hidden-xs pull-right">
      <%=link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
    <% else %>
      <li  class="logo hidden-xs pull-right"><%= link_to('Sign-Up', new_user_registration_path)  %> </li>
       <li  class="logo hidden-xs pull-right"><%= link_to('Login', new_user_session_path)  %> </li>
    <% end %> 

    </ul>   
             
  <!-- Top Search Content -->
  <div id="top-search-wrap">
    <!-- <input type="text"> -->
     <%= text_field_tag(:search_term) %> 
       <%end%>
    <i id="top-search-close">&times;</i>
  </div>
</header>
