<br>
<br>
<br>
<br>
<br>
<br>
<header id="header">
  <ul class="header-inner top-menu" style="margin-top: 15px;">
    <li class="logo hidden-xs" style="margin-left: 2%;">
    <%= link_to "Placemat", my_placemats_path, style: "font-weight: bold;" %>
    </li>

    <li class="logo top-menu" >
      <%= link_to "", new_board_path, class: "md md-add", style: "font-size: 1.7em; margin-top: -10%" %>
    </li>
    <li class="logo top-menu">
      <%= link_to "", library_path, class: "md md-local-library", style: "font-size: 1.7em; margin-top: -10%" %>
    </li>
 
     <li class="logo top-menu">
      <%= link_to "", root_path, class: "md md-trending-up", style: "font-size: 1.7em; margin-top: -10%" %>
    </li>

    <li  id="top-search" class="top-menu">
<a style=" font-size: 1.7em; color: white; margin-top: 11%; margin-left: 30%;" class="md-search"></a>
    <%=form_tag('/search', method: "get") do%>
    <i style="font-size: 1em; color: white;"><%= button_tag "", class: "top-menu", id: "search-button", style: "display: none; text-align: center;" %></i>
    </li>
    
   <% if user_signed_in?  %>
      <li class="logo hidden-xs pull-right">
      <%=link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
    <% else %>
      <li  class="logo hidden-xs pull-right"><%= link_to('Sign-Up', new_user_registration_path)  %> </li>
       <li  class="logo hidden-xs pull-right"><%= link_to('Login', new_user_session_path)  %> </li>
    <% end %> 



  </ul>   
             
  <!-- Top Search Content -->
  <div id="top-search-wrap">
    <!-- <input type="text"> -->
     <%= text_field_tag(:search_term) %> 
       <%end%>
    <i id="top-search-close">&times;</i>
  </div>
</header>
